{{ template "widget-base.html" . }}

{{ define "widget-content" }}
<ul class="list list-gap-14 list-collapsible" >
    {{ range $i, $feed := .Feeds }}
    <div class="grow">
            <div class="size-h2">{{ $feed.FeedName }}</div>
            <ul class="list list-gap-14 list-collapsible" >
                {{ range $j, $post := $feed.Posts }}
                <li {{ if shouldCollapse $j $.CollapseAfter }}class="list-collapsible-item" style="--animation-delay: {{ itemAnimationDelay $j $.CollapseAfter }};"{{ end }}>
                    <div class="forum-post-list-item thumbnail-container">
                        <svg class="forum-post-list-thumbnail hide-on-mobile" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-9 -8 40 40" stroke-width="1.5" stroke="var(--color-text-subdue)">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 0 1 .865-.501 48.172 48.172 0 0 0 3.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
                        </svg>

                        <div class="grow">
                            <a class="size-h3 color-primary-if-not-visited" target="_blank" rel="noreferrer" href={{ $post.TargetUrl }}>{{ $post.Title }}</a>
                            <ul class="list-horizontal-text">
                                {{ if ne $post.Feed "" }}
                                    <li title="{{ $post.Feed }}">{{ $post.Feed }}</li>
                                {{ end }}
                                <li title="{{ $post.TimePosted | formatTime }}" {{ dynamicRelativeTimeAttrs $post.TimePosted }}>{{ $post.TimePosted | relativeTime }}</li>
                            </ul>
                        </div>
                    </div>
                </li>
                {{ end }}
            </ul>
            {{ if gt (len .Posts) $.CollapseAfter }}
            <label class="list-collapsible-label"><input type="checkbox" autocomplete="off" class="list-collapsible-input"></label>
            {{ end }}
        </div>
    {{ end }}
</ul>
{{ end }}
